.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  /* Стиль кнопок, которые используются для открытия содержимого вкладки */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  /* Изменение цвета фона кнопок при наведении курсора */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Создание активного/текущего класса связи вкладки */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Стиль содержимого вкладки */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }

  #trys  {
 
  -moz-animation: cycle 4s linear infinite;            
    -webkit-animation: cycle 4s linear infinite;
 
}
 
@-moz-keyframes cycle {
        35% {transform: rotate(0) translate(0, 0);}
        40% {transform: rotate(5deg) translate(0, -2px);}
        45% {transform: rotate(-3deg) translate(0, -2px);}
        50% {transform: rotate(5deg) translate(0, -2px);}
        55% {transform: rotate(-3deg) translate(0, -2px);}
        60% {transform: rotate(5deg) translate(0, -2px);}
        65% {transform: rotate(-3deg) translate(0, -2px);}
        70% {transform: rotate(0) translate(0, 0);}
    }
 
    @-webkit-keyframes cycle {
        35% {transform: rotate(0) translate(0, 0);}
        40% {transform: rotate(5deg) translate(0, -2px);}
        45% {transform: rotate(-3deg) translate(0, -2px);}
        50% {transform: rotate(5deg) translate(0, -2px);}
        55% {transform: rotate(-3deg) translate(0, -2px);}
        60% {transform: rotate(5deg) translate(0, -2px);}
        65% {transform: rotate(-3deg) translate(0, -2px);}
        70% {transform: rotate(0) translate(0, 0);}
    }
    #trys1{
 
      -moz-animation: cycle 4s linear infinite;            
        -webkit-animation: cycle 4s linear infinite;
     
    }
     
    @-moz-keyframes cycle {
            35% {transform: rotate(0) translate(0, 0);}
            40% {transform: rotate(5deg) translate(0, -2px);}
            45% {transform: rotate(-3deg) translate(0, -2px);}
            50% {transform: rotate(5deg) translate(0, -2px);}
            55% {transform: rotate(-3deg) translate(0, -2px);}
            60% {transform: rotate(5deg) translate(0, -2px);}
            65% {transform: rotate(-3deg) translate(0, -2px);}
            70% {transform: rotate(0) translate(0, 0);}
        }
     
        @-webkit-keyframes cycle {
            35% {transform: rotate(0) translate(0, 0);}
            40% {transform: rotate(3deg) translate(0, -2px);}
            45% {transform: rotate(-1deg) translate(0, -2px);}
            50% {transform: rotate(3deg) translate(0, -2px);}
            55% {transform: rotate(-1deg) translate(0, -2px);}
            60% {transform: rotate(3deg) translate(0, -2px);}
            65% {transform: rotate(-1deg) translate(0, -2px);}
            70% {transform: rotate(0) translate(0, 0);}
        }